.container {
  border-radius: 15px;
  background: #1e2a47;
  padding: 3.3rem 2.4rem;
  width: 100%;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
.lightmode {
  border-radius: 15px;
  padding: 3.3rem 2.4rem;
  width: 100%;
  background: #fefefe;
  box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
}
.avatarpic {
  border-radius: 50%;
  width: 7rem;
  height: 7rem;
}
.loginName {
  color: #fff;
  font-family: Space Mono;
  font-size: 16px;
  font-weight: 700;
}
.lightLoginName {
  color: rgba(43, 52, 66, 1);
  font-size: 16px;
  font-weight: 700;
}
.userLogin {
  color: #0079ff;
  font-size: 13px;
  font-weight: 400;
}
p {
  color: #fff;
}
.bio {
  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
}

.avatarsection {
  display: flex;
  margin-bottom: 3.4rem;
}

.userinfo {
  margin-left: 1.9rem;
}

@media screen and (min-width: 730px) {
  .userinfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .avatarsection {
    display: flex;
  }
}
/* @media (prefers-color-scheme: light) {
} */
