.Container {
  background-color: #141d2f;
  min-height: 100vh;
  padding: 2.4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headerContainer {
  background-color: #141d2f;
}
.headerContainer-lightmode {
  background-color: #f6f8ff;
}
.lightmode {
  color: #fff;
  background-color: #f6f8ff;
}
.lightmode p {
  color: #4b6a9b;
  border-radius: 15px;
  background: #fefefe;
  /* box-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2); */
}

@media screen and (min-width: 553px) {
  .Container {
    max-width: 53.7rem;
    margin: 0 auto;
  }
}
