.devfinder {
  color: #fff;
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
}

.dev {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.lightdevfinder {
  color: #222731;
  font-size: 26px;
  font-weight: 700;
}
.mode {
  display: flex;
}
.mode:hover {
  cursor: pointer;
}
.darkmode {
  color: #4b6a9b;
}

.darkmode_theme {
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.5px;
  margin-right: 1.6rem;
}
